body{
  font-family: Helvetica;
  text-align: center;
}
.header{
  background-image: url('../images/the-flatiron-building.png');
  color: White;
}
.header h1{
  font-size: 70px;
  color: White;
}
.header a{
  font-size: 18px;
  color: White;
}
